<div>
    <% if(locals.user.id == userData.id) {%>
        <p><%= userData.name %></p>
        <p><%= userData.email %></p>
        <div style="margin: 10;">
            <form action="/users/profile/update" method="POST" style="margin: 10;">
              <lable for="email">Update Email</lable>
              <input type="email" id="email" name="email" value="<%= userData.email  %>"/>
              <br>
              <lable for="name">Update Name</lable>
              <input type="text" id="name" name="name" value="<%= userData.name  %>"/>
              <input type="hidden" name="id" value="<%= userData.id %>">
              <br>
              <button  type="submit">Submit</button>
            </form>
          </div>

    <% } else {%>
        <p><%= userData.name %></p>
        <p><%= userData.email %></p>
    <% }%>

</div>

